{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/panddu.css' %}">
</head>
<body>
    <center>
        <h1>Having a brother is soo lucky</h1>
        <img src="{% static 'images/laddu_panddu.jpeg ' %}" alt="gouse" height="500" width="600">
    </center>
</body>
</html>